* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background-color: yellowgreen;
  display: flex;
}

aside {
  background-color: lightblue;
  width: 260px;
  padding: 20px;
}

section {
  flex: 1;
}

/* aside styles */

li {
  background-color: aliceblue;
  margin-bottom: 10px;
}

li small {
  display: block;
}